.masonry {
  margin-top: 4rem;
}
.masonry > div > div > :nth-child(1n) {
  opacity: 0;
  animation-delay: 0.5s;
  animation-name: slideInRight;
  animation-duration: 1s;
  transition-timing-function: ease;
  animation-fill-mode: forwards;
}
.masonry > div > div > div:nth-child(2n) {
  animation-delay: 1s;
}
.masonry > div > div > div:nth-child(3n) {
  animation-delay: 1.5s;
}
.masonry > div > div > div:nth-child(4n) {
  animation-delay: 2s;
}
.masonry > div > div > div:nth-child(5n) {
  animation-delay: 2.5s;
}
.masonry > div > div > div:nth-child(6n) {
  animation-delay: 3s;
}
.masonry > div > div > div:nth-child(7n) {
  animation-delay: 3.5s;
}
.masonry > div > div > div:nth-child(8n) {
  animation-delay: 4s;
}
.gallery {
  filter: blur(8px);
}
