.CardsDelay > div {
  opacity: 0;
  animation-name: slideInRight;
  animation-duration: 1s;
  transition-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
